:root {
    --background-color: #c64756;
    --rock-color: #184d47;
    --rock-border-color: #133d38;
    --paper-color: #96bb7c;
    --paper-border-color: #75a355;
    --scissors-color: #fad586;
    --scissors-border-color: #f6bb3c;
}

body {
    margin: 0;
    background: var(--background-color);
}

#content {
    position: relative;
}

.score-board {
    position: absolute;
}

.shapes {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shapes > a {
    position: absolute;
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    max-height: 200px;
    width: 20%;
    padding: 5%;
    transition: left 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s;
    outline: none;
}

.shapes > a > * {
    pointer-events: none;
}

.shapes > a > i {
    font-size: 200px;
    grid-row: 2/3;
}

.shapes > a > span {
    grid-row: 3/4;
    display: inline-block;
    text-align: center;
    font-size: 3em;
}
.rock {
    left: 2.5%;
    background: var(--rock-color);
    border-color: var(--rock-border-color);
}
.paper {
    left: 35%;
    background: var(--paper-color);
    border-color: var(--paper-border-color);
}
.scissors {
    left: 67.5%;
    background: var(--scissors-color);
    border-color: var(--scissors-border-color);
}

.scissors > i {
    transform: rotate(90deg);
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.selected {
    left: 2%;
}
a.selected > i {
    transition: transform 0.5s ease-in 0.8s;
    transform: rotate(90deg);
}
.scissors.selected > i {
    transform: rotate(180deg);
}
